body {
  cursor: default;
}

.monospace {
  font-family: monospace;
}

.program-container {
  max-width: 900px;
  margin: 0 auto;
}

.program-output {
  box-shadow: 4px 5px 8px #bfbfbf;
  border: 1px solid #c3c3c3;
  overflow: auto;
}

.program-output > div {
  margin: 0 auto !important;
}

.program-active-command {
  height: 50px;
  width: 50px;
}

.program-commands-container table,
.program-commands-container table td {
  border-collapse: collapse;
  padding: 0;
}


.program-commands {
  display: inline-block;
  width: 150px;
}

.program-command,
.program-active-command {
  box-shadow: inset 1px 1px 0px #969696;
  border: 2px inset #e8e8e8;
  margin: 1px;
}

.program-commands td:first-child {
  vertical-align: top;
}

.program-command {
  cursor: pointer;
  height: 20px;
  float: left;
  width: 20px;
  box-sizing: content-box;
}

.program-active-command--shiftRight,
.program-command--shiftRight {
  background-color: rgb(255, 0, 0);
}

.program-active-command--shiftLeft,
.program-command--shiftLeft {
  background-color: rgb(128, 0, 0);
}

.program-active-command--increment,
.program-command--increment {
  background-color: rgb(0, 255, 0);
}

.program-active-command--decrement,
.program-command--decrement {
  background-color: rgb(0, 128, 0);
}

.program-active-command--ioWrite,
.program-command--ioWrite {
  background-color: rgb(0, 0, 255);
}

.program-active-command--ioRead,
.program-command--ioRead {
  background-color: rgb(0, 0, 128);
}

.program-active-command--loopOpen,
.program-command--loopOpen {
  background-color: rgb(255, 255, 0);
}

.program-active-command--loopClose,
.program-command--loopClose {
  background-color: rgb(128, 128, 0);
}

.program-active-command--rotateClockwise,
.program-command--rotateClockwise {
  background-color: rgb(0, 255, 255);
}

.program-active-command--rotateCounterClockwise,
.program-command--rotateCounterClockwise {
  background-color: rgb(0, 128, 128);
}

.program-rows {
  font-size: 0;
  overflow: auto;
  white-space: nowrap;
  padding-top: 1px;
}

.program-cell {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-right: 1px solid #dedede;
  border-top: 1px solid #dedede;
}

.program-cell:last-child {
  border-right: 0;
}
