.monospace {
  font-family: monospace;
}

.program-container {
  max-width: 900px;
  margin: 0 auto;
}

.program-output {
  box-shadow: 4px 5px 8px #bfbfbf;
  border: 1px solid #c3c3c3;
  overflow: auto;
}

.program-output > div {
  margin: 0 auto !important;
}

.program-command {
  cursor: pointer;
  height: 20px;
  float: left;
  width: 20px;
  box-sizing: content-box;
  margin: 3px;
  box-shadow: inset 2px 2px 3px #4c4c4c;
}

.program-command--shiftRight {
  background-color: rgb(255, 0, 0);
}

.program-command--shiftLeft {
  background-color: rgb(128, 0, 0);
}

.program-command--increment {
  background-color: rgb(0, 255, 0);
}

.program-command--decrement {
  background-color: rgb(0, 128, 0);
}

.program-command--ioWrite {
  background-color: rgb(0, 0, 255);
}

.program-command--ioRead {
  background-color: rgb(0, 0, 128);
}

.program-command--loopOpen {
  background-color: rgb(255, 255, 0);
}

.program-command--loopClose {
  background-color: rgb(128, 128, 0);
}

.program-command--rotateClockwise {
  background-color: rgb(0, 255, 255);
}

.program-command--rotateCounterClockwise {
  background-color: rgb(0, 128, 128);
}
