body {
  cursor: default;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
}

.program-cells {
  font-size: 0;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  background-color: white;
  box-shadow: 4px 5px 8px #bfbfbf;
  border: 1px solid #c3c3c3;
  overflow: auto;
  height: 500px;
}

.program-cell {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid rgba(222, 222, 222, 0.35);
}

.program-cell + .program-cell {
  border-left: 0;
}

.program-row + .program-row .program-cell {
  border-top: 0;
}

.cmd-btn {
  outline: 0;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: #afafaf;
  background: #fbfcfe;
  box-shadow: 2px 2px 0px #c7c7c7;
  position: relative;
}

.cmd-btn + .cmd-btn {
  margin-left: .5rem;
}

.cmd-btn:hover,
.cmd-btn:active {
  box-shadow: none;
}

.cmd-btn img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.cmd-btn--shiftRight {
  background-color: rgb(255, 0, 0);
}

.cmd-btn--shiftLeft {
  background-color: rgb(128, 0, 0);
}

.cmd-btn--increment {
  background-color: rgb(0, 255, 0);
}

.cmd-btn--decrement {
  background-color: rgb(0, 128, 0);
}

.cmd-btn--ioWrite {
  background-color: rgb(0, 0, 255);
}

.cmd-btn--ioRead {
  background-color: rgb(0, 0, 128);
}

.cmd-btn--loopOpen {
  background-color: rgb(255, 255, 0);
}

.cmd-btn--loopClose {
  background-color: rgb(128, 128, 0);
}

.cmd-btn--rotateClockwise {
  background-color: rgb(0, 255, 255);
}

.cmd-btn--rotateCounterClockwise {
  background-color: rgb(0, 128, 128);
}
